from datetime import datetime, timedelta
import os


use_outlook = True
class credentials:
    ''' required if use_outlook is False '''
    username = None
    password = None


employee_name = "Your Name"


# Receipient email addresses
receipients = [
]


# Sender email address (must match your outlook account)
sender_address = "your email address"


# Helper variables
week_length = 5
today = datetime.today()
weekday_delta = timedelta(days=today.weekday())

monday = today - weekday_delta            # monday
friday = monday + timedelta(days=week_length-1)       # friday


# File paths
xls_filename = monday.strftime("%Y_%m_%d.xlsx")
xls_path = os.path.abspath(os.path.normpath("{}".format(xls_filename)))
save_path = os.path.abspath("data.json")


# Email template:
time_period = "{}-{}.{}".format(
	monday.day,
	friday.day,
	friday.strftime("%m.%Y")
)


message_title = "weekly time report: {}".format(time_period)
message_body = \
"""
Czesc, 

w zalaczniku przesylam raport za biezacy tydzien. 

Pozdrawiam,
{}
""".format(employee_name)


class KeyboardShortcuts:
    save = "<Control-s>"
    load = "<Control-l>"
    reset = "<Control-r>"
    send = "<Control-m>"
    add_receipient = "<Control-e>"
    generate = "<Control-g>"


app_title = "Time Report Creator"
entries_section_label = "Work entries"
receipients_section_label = "Receipients"
generate_btn_label = "generate"
save_btn_label = "save"
load_btn_label = "load"
send_btn_label = "send"
add_receipient_btn_label = "new recp"
reset_btn_label = "reset"
date_label_format = "%d.%m.%Y - %A"

entries_frame_width = 100
date_label_width = 20
hours_entry_width = 8
description_entry_width = 50
receipient_entry_width = 50
